*
{
background-color:Black;
color:white;
font-family:Arial;
font-weight:bold;
margin:0;
padding:0;
outline:none;
text-align:center;
z-index:0;
}
body
{
font-size:100%;  
}
button
{
border-radius:10px;
border-width: 1px;
}
table 
{
width:100%;
}
td
{
vertical-align:middle;
}
.Dialog
{
display:none;
border-style:solid;
border-width:2px;
border-color:DarkGray;
background-color:#161616;
position:fixed;
padding:0.5em;
top:50%;
left:50%;
width:auto;
height:auto;
z-index:1;
-webkit-transform:translate(-50%, -50%);
transform:translate(-50%, -50%);
}
.Dialog *
{
background-color:rgba(0,0,0,0);
}
.Dialog p
{
font-size:2em;  
}
.Dialog h1
{
font-size:4em;  
}
.DialogButton
{
width:40%;
margin:2.5%;
padding:0.1em 0.2em 0.1em 0.2em;
background-color:Gray;
border-color:LightGray;
display:inline;
font-size:3em;
text-shadow:1px 1px 0px #160000;
}
.LeftButton
{
padding:0;
background-color:DarkRed;
border-color:#A00000;
display:inline;
font-size:3em;
text-shadow:1px 1px 0px #160000;
}
.LeftButton:active
{
background-color:Red;
position:relative;
top:1px;
}
.RightButton
{
padding:0;
background-color:DarkGreen;
border-color:Green;
display:inline;
font-size:3em;
text-shadow:1px 1px 0px #001600;
}
.RightButton:active
{
background-color:Lime;
position:relative;
top:1px;
}
.TimeButton
{
background-color:DarkSlateBlue;
border-color:SlateBlue;
font-size:3em;
height:20%;
width:100%;
text-shadow:1px 1px 0px #001616;
}
.TimeButton:active
{
background-color:Cyan;
position:relative;
top:1px;
}
#ScoreGroup
{
height:30%;
width:100%;
}
#LeftGroup
{
float:left;
height:80%;
width:50%;
}
#LeftChange
{
float:left;
height:100%;
width:30%;
border-width:0px;
}
#LeftPlus
{
border-radius:10px 0px 0px 0px;
float:top;
height:50%;
width:100%;
}
#LeftMinus
{
border-radius:0px 0px 0px 10px;
float:bottom;
height:50%;
width:100%;
}
#LeftScore
{
font-size:6em;
border-radius:0px 10px 10px 0px;
float:right;
height:100%;
width:70%;
}
#LeftName
{
font-size:2em;
}
#RightGroup
{
float:right;
height:80%;
width:50%;
}
#RightChange
{
float:right;
height:100%;
width:30%;
}
#RightPlus
{
border-radius:0px 10px 0px 0px;
float:top;
height:50%;
width:100%;
}
#RightMinus
{
border-radius:0px 0px 10px 0px;
float:bottom;
height:50%;
width:100%;
}
#RightScore
{
font-size:6em;
border-radius:10px 0px 0px 10px;
float:left;
height:100%;
width:70%;
}
#RightName
{
font-size:2em;
}
#Time
{
font-size:5em;
font-weight:bold;
height:20%;
width:100%;
}
#Weapon
{
height:10%;
width:100%;
}  
@media screen and (min-width:1px) 
{
body { font-size:60%; }
}
@media screen and (min-width:550px) 
{
body { font-size:70%; }
}
@media screen and (min-width:650px)
{
body { font-size:80%; }
}
@media screen and (min-width:700px) 
{
body { font-size:100%; }
}
@media screen and (min-width:800px)
{
body { font-size:90%; }
}
@media screen and (min-width:900px) 
{
body { font-size:110%; }
}
@media screen and (min-width:1500px)
{
body { font-size:125%; }
}
@media screen and (min-width:1800px)
{
body { font-size:150%; }
}
@media screen and (min-width:2100px) 
{
body { font-size:175%; }
}
@media screen and (min-width:2500px)
{
body { font-size:200%; }
}